#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 16vw);
    grid-gap: 15px; 
    object-fit: cover;
    z-index: 0;
}
div {
    width: 300px;
    height: 200px;
    margin: 10PX;
    padding: 10px;
    text-align: center;
}
img {
    width: 300px;
    height: auto;
}
#l1,#l2,#l3,#l4 {
    z-index: 1;
    position: absolute;
    width: 50px;
    top: 190px;
    left: 300px;
}
#l2{
    left: 655px
}
#l3{
    left: 1010px;
}
#l4{
    left:1365px;
}
#l5,#l6,#l7,#l8 {
    z-index: 1;
    position: absolute;
    width: 50px;
    top: 420px;
    left: 300px;
}
#l6{
    left: 655px
}
#l7{
    left: 1010px;
}
#l8{
    left:1365px;
}